body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#log {
  padding-left: 3%;
}

#final {
  padding-right: 2%;
}

#facebookContact {
  width: 20%;
  height: auto;
}
