body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  text-align: center;
}

.nav-extended {
  background-color: rgba(190, 217, 241, 0.12);
}

header .responsive-img {
  padding-top: 1%;
}

main {
  flex: 1 0 auto;
}

#begin {
  padding-top: 10%;
}

.btn {
  background-color: #01ABC7;
}

#b1 {
  padding-top: 4%;
}

.page-footer {
  background-color: #01ABC7;
}
