body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#log {
  padding-left: 3%;
}

#facebookContact {
  width: 20%;
  height: auto;
}

#Titulo {
  padding-top: 5%;
  text-align: center;
}

#Forma {
  padding-top: 3%;
}
