<footer class = "page-footer">
  <div class = "container">
    <div class = "row">
      <div class = "col l6 s12">
        <h5 class = "white-text"> A01700709 - Vladimir Salvador </h5>
        <p class = "grey-text text-lighten-4"> Laboratorios del primer bloque de ISC, Desarrollo web básico (DAW y DB) </p>
      </div>

      <div class = "col l4 offset-l2 s12">
        <h5 class = "white-text"> Contact </h5>
        <ul>
          <li> <a class = "grey-text text-lighten-3" href = "https://www.facebook.com/profile.php?id=100010429722785"> <img id = "facebookContact" class = "responsive-img" src = "https://www.seeklogo.net/wp-content/uploads/2016/09/facebook-icon-preview-1-400x400.png" alt = "Facebook">  </a> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class = "footer-copyright">
    <div class = "container">
      © 2017 VladSC
    </div>
  </div>
</footer>

<script type = "text/javascript" src = "https://code.jquery.com/jquery-3.2.1.min.js"> </script>
<script type = "text/javascript" src = "js/materialize.min.js"> </script>
<script type = "text/javascript" src = "js/function.js"> </script>
</body>

</html>
