<main>
    <div class="container">
        <div class = "row" id = "Titulo" >
            <h5> LAB 13 - Validación de Sesiones </h5>
        </div>
        
        <div class = "row" id = "Forma" >
            <form action = "validation.php" method = "POST" class = "col s12">
                <div class = "row">
                    <div class="input-field col s4 offset-s1">
                        <input placeholder="Nombre" id="Nombre"  name = "Nombre" type="text" class="validate" Required > 
                        <label for="Nombre"> ¿Cuál es tu nombre? </label>
                    </div>
                    
                    <div class="input-field col s4 offset-s2">
                        <input placeholder="17" id="Edad"  name = "Edad" type="number" class="validate" Required > 
                        <label for="Edad"> ¿Qué edad tienes? </label>
                    </div>
                </div>
                
                <div class = "row">
                    <div class="input-field col s4 offset-s1">
                        <input placeholder="Carrera" id="Carrera"  name = "Carrera" type="text" class="validate" Required > 
                        <label for="Nombre"> ¿Qué carrera estudias? </label>
                    </div>
                    
                    <div class="input-field col s4 offset-s2">
                        <input placeholder="Campus" id="Campus"  name = "Campus" type="text" class="validate" Required > 
                        <label for="Campus"> ¿En qué campus estudias? </label>
                    </div>
                </div>
                
                <div class = "row">
                    <div class="input-field col s2 offset-s5">
                        <input type="submit" value="Send" class="waves-effect waves-light btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

