body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: antiquewhite;
}

header, h4 {
    font-family: sans-serif;
    text-align: center;
    color: brown;
}

h4 {
    padding-bottom: 1%;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline;
    padding: 2%;   
}

a {
    text-decoration: none;
}

#question {
    padding-bottom: 0.1%;
    font-size: 110%;
}

ul {
    list-style: none;
}

.respuesta {
    padding-left: 3%;;
}
