<main>
    <div class="container">
        <div class = "row">
            <div class = "col s4 offset-s5">
                <h4> Hola <?=$nombre?>!!! </h4>
            </div>
        </div>

        <div class = "row">
            <div class = "col s4 offset-s5">
                <h5> Tienes <?=$edad?> años </h5>
            </div>
        </div>

        <div class = "row">
            <div class = "col s4 offset-s5">
                <h6> Estudias <?=$carrera?> en el Campus <?=$campus?> </h6>
            </div>
        </div>
    </div>
</main>
